{% load static %}

<link rel="stylesheet" href="{% static 'global.css' %}">
<link rel="stylesheet" href="{% static 'home/style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>luscious</title>
  </head>
  <body>
    <div class="container">
      <div class="site-header">
        <h1>luscious.dev</h1>
      </div>
      <div class="content-section" id="links">
        <h2 class="section-title">Projects</h2>
        <dl class="link-list">
          <dt><a href="{% url 'lastfm:index' %}">last.fm Collage Generator</a></dt>
          <dd>Create a grid of your most listened to albums as logged on last.fm</dd>
          <dt><a href="{% url 'overlay:index' %}">Collaborative Overlay for Twitch</a></dt>
          <dd>Collaborative Overlay tool for live streamers.<br>Let your mods/other trusted individuals add text and images to your stream live.</dd>
          <dt><a href="https://github.com/lusciousdev/obswsgui/">OBS WebSocket GUI</a></dt>
          <dd>First iteration of the Collaborative Overlay.<br>Let people add sources to your OBS through a Python GUI.</dd>
          <dt><a href="https://github.com/lusciousdev/ctwitch/">Twitch API Wrapper for C++</a></dt>
          <dd>Library for making calls to the Twitch.tv API in C++.<br>Fairly early in development.</dd>
        </dl>
        <h2 class="section-title">My other websites</h2>
        <ul class="link-list">
          <li><a href="https://itswill.org/">itswill.org</a></li>
          <li><a href="https://clips.itswill.org/">clips.itswill.org</a></li>
          <li><a href="https://liveatfive.net/">liveatfive.net</a></li>
        </ul>
        <h2 class="section-title">Find me other places</h2>
        <ul class="link-list">
          <li>GitHub: <a href="https://github.com/lusciousdev">lusciousdev</a></li>
          <li>Twitter: <a href="https://twitter.com/lusciousdev_">lusciousdev_</a></li>
          <li>Bluesky: <a href="https://bsky.app/profile/luscious.dev">luscious.dev</a></li>
          <li>Discord: @luscious.dev</li>
          <li>Mastodon <a href="https://mastodon.gamedev.place/@luscious">@luscious@mastodon.gamedev.place</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>