{% load static %}

<link rel="stylesheet" href="{% static 'global.css' %}">
<link rel="stylesheet" href="{% static 'home/style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>luscious</title>
  </head>
  <body>
    <div class="container">
      <div class="site-header">
        <h1>luscious.dev</h1>
      </div>
      <div class="content-section" id="links">
        <h2 class="section-title">Stuff I've made</h2>
        <ul class="link-list">
          <li><a href="https://itswill.org/">itswill.org</a></li>
          <li><a href="https://clips.itswill.org/">clips.itswill.org</a></li>
          <li><a href="https://liveatfive.net/">liveatfive.net</a></li>
          <li><a href="{% url 'lastfm:index' %}">last.fm Collage Generator</a></li>
          <li><a href="https://github.com/lusciousdev/obswsgui/">OBS WebSocket GUI</a></li>
          <!--<li><a href="{# url 'overlay:index' #}">Collaborative Overlay for Twitch</a></li>-->
          <li><a href="https://github.com/lusciousdev/ctwitch/">Twitch API Wrapper for C++</a></li>
        </ul>
        <h2 class="section-title">Find me other places</h2>
        <ul class="link-list">
          <li>GitHub: <a href="https://github.com/lusciousdev">lusciousdev</a></li>
          <li>Twitter: <a href="https://twitter.com/lusciousdev_">lusciousdev_</a></li>
          <li>Bluesky: <a href="https://bsky.app/profile/luscious.dev">luscious.dev</a></li>
          <li>Discord: @luscious.dev</li>
          <li>Mastodon <a href="https://mastodon.gamedev.place/@luscious">@luscious@mastodon.gamedev.place</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>