{% load static %}

<form method="post" class="generator-form">
    {% csrf_token %}
    {% if form.errors %}
    <div id="form-error-container">
      <div id="form-error-title">
        Error:
      </div>
      <ul id="form-error-list">
      {% for field in form.visible_fields %}
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      {% endfor %}
      <ul>
    </div>
    {% endif %}
    <table>
    {% for field in form %}
      <tr>
        <td><label class="label" for="{{ field.auto_id }}">{{ field.label }}:</label></td>
        <td>{{ field }}</td>
      </tr>
    {% endfor %}
      <tr>
        <td></td>
        <td><input type="submit" value="Generate"></td>
      </tr>
    </table>
</form>
