{% load static %}

<link rel="stylesheet" href="{% static 'global.css' %}">
<link rel="stylesheet" href="{% static 'lastfm/style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>last.fm Collage</title>
  </head>
  <body>
    <div class="container">
      <h1 class="site-title">last.fm Collage Generator</h1>
      <div class="generator-form">
        <div>
          <form method="post" class="generator-form">
              {% csrf_token %}
              {% if form.errors %}
              <div id="form-error-container">
                <div id="form-error-title">
                  Error:
                </div>
                <ul id="form-error-list">
                {% for field in form.visible_fields %}
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
                <ul>
              </div>
              {% endif %}
              <table>
              {% for field in form %}
                <tr>
                  <td><label class="label" for="{{ field.auto_id }}">{{ field.label }}:</label></td>
                  <td>{{ field }}</td>
                </tr>
              {% endfor %}
                <tr>
                  <td></td>
                  <td><input type="submit" value="Generate"></td>
                </tr>
              </table>
          </form>
        </div>
      </div>
  </body>
</html>