
body {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin: 0;
  padding: 0;
  min-width: 100vw !important;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  box-sizing: border-box;
  
  background: light-dark(var(--light-foreground), var(--dark-foreground));
}

#content-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  overflow: hidden;
  z-index: 0;
}

.site-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px 25px 25px;
  width: 100%;
  box-sizing: border-box;
  
  background: light-dark(var(--light-foreground), var(--dark-foreground));
}

.site-title {
  font-size: 2.5em;
  font-weight: bold;
}

.sidebar-item {
  font-size: 1.33em;
  font-weight: bold;
}

.quick-link {
  font-size: 0.8em;
}

.big-button {
  font-size: 1.5em;
  font-weight: bold;

  border-radius: 0.3em;

  background-color: var(--logo);
  cursor: pointer;
  padding: 10px;
}

.medium-button {
  font-size: 1.0em;
  display: inline-block;

  border-radius: 0.2em;

  background-color: var(--logo);
  cursor: pointer;
  padding: 5px 10px;
  margin: 0px 3px;
}

#item-filter-container {
  margin: 0 0 0.5em 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
}

.sidebar-section {
  width: 100%;
}

.sidebar-label, .sidebar-text-input, .sidebar-dropdown-input {
  font-size: 1.2em;
  margin-right: 0.5em;
}

.sidebar-text-input, .sidebar-dropdown-input {
  min-width: 0;
}

#item-filter {
  flex-grow: 1;
}

#item-select-container {
  width: 100%;
  margin: 0.5em 0 0.5em 0;
  
  box-sizing: border-box;
}

#item-select-list {
  box-sizing: border-box;
  width: 100%;
  
  border-color: light-dark(var(--light-darker), var(--dark-darker));
  border-style: solid;
  border-width: 0.4em;
  border-radius: 0.25em;

  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  
  transition: all 333ms ease-in-out;
}

.item-list-entry {
  font-size: 1.2em;
  line-height: 1;

  color: light-dark(var(--light-text), var(--dark-text));
  background-color: light-dark(var(--light-lighter), var(--dark-lighter));

  box-sizing: border-box;

  margin: 0px 0px 3px 0px; 
  padding: 12px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#item-select-list .item-list-entry:last-child {
  margin: 0 0 0 0!important;
}

.selected-list-entry {
  background-color: var(--logo);
}

#item-edit-forms {
  margin-top: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.item-form table {
  border-collapse: collapse;
}

.item-form table td {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.item-title {
  font-size: 1.33em;
}

.form-container {
  font-size: 1em;
  width: 100%;
}

.item-form, .item-form table {
  width: 100%;
}

.item-form input, textarea {
  font-family: inherit;
  font-size: 1.0em;
}

.item-form input[type=submit] {
  font-size: 1.0em;
  font-family: inherit;
  color: light-dark(var(--light-text), var(--dark-text));
  background-color: var(--logo);
  
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0px 3px;
}

.item-form input[type=number],input[type=text],input[type=range],textarea {
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
}

#cursor-container {
  background-color: #00000000;
  
  position: absolute;
  z-index: 99999999998;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  pointer-events: none;
  overflow: hidden;
}

.cursor {
  position: absolute;
  display: inline-block;
}

#overlay {
  background-color: #000;
  position: relative;

  z-index: 0;

  --border-width: 2px;
  --grabber-radius: 5px;
  --grabber-offset: calc(0px - var(--grabber-radius));
  --grabber-dim: calc(2 * var(--grabber-radius));
}

.unselected {
  border-color: gray;
  border-width: var(--border-width);
  border-style: solid;
}

.selected {
  border-color: var(--logo);
  border-width: var(--border-width);
  border-style: solid;

  cursor: move;
}

.selected.canvas-item {
  cursor: move;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.nopointer {
  pointer-events: none;
}

.grabber {
  position: absolute;
  display: inline-block;

  border-color: inherit;
  border-style: solid;
  border-width: var(--grabber-radius);
  border-radius: var(--grabber-radius);

  width: var(--grabber-dim);
  height: var(--grabber-dim);
  box-sizing: border-box;
}

.topleft {
  top: var(--grabber-offset);
  left: var(--grabber-offset);

  cursor: nwse-resize!important;
}

.topright {
  top: var(--grabber-offset);
  right: var(--grabber-offset);

  cursor: nesw-resize!important;
}

.bottomleft {
  bottom: var(--grabber-offset);
  left: var(--grabber-offset);

  cursor: nesw-resize!important;
}

.bottomright {
  bottom: var(--grabber-offset);
  right: var(--grabber-offset);

  cursor: nwse-resize!important;
}

.position-locked {
  cursor: default;
}

.position-locked .grabber {
  display: none !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: light-dark(var(--light-background), var(--dark-background));
  padding: 25px;
  min-height: 0;
  max-height: 90%;
  overflow-y: scroll;
}

.close {
  color: var(--logo);
  float: right;
  font-size: 3em;
  font-weight: bold;
  margin: 0px 5px 0px 5px;
  line-height: 65%;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.tab-nav {
  float: right;
}

.tab-container {
  display: grid;
  grid-template-columns: 1fr;
}

.tab {
  overflow: hidden;
  border: 1px solid light-dark(var(--light-foreground), var(--dark-foreground));
  background-color: light-dark(var(--light-lighter), var(--dark-lighter));
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: light-dark(var(--light-foreground), var(--dark-foreground));
}

.tab button.active {
  background-color: var(--logo);
}

.tabcontent {
  visibility: hidden;
  grid-row-start: 1;
  grid-column-start: 1;
  top: 0;
  left: 0;
  padding: 6px 12px;
  border: 1px solid light-dark(var(--light-foreground), var(--dark-foreground));
  border-top: none;
  box-sizing: border-box;
}

.indented-label {
  text-indent: 1em;
}

.indicator {
  display: none;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 10;

  height: 20px;
  width: 20px;
  line-height: 5px;

  background-color: rgb(169, 14, 14);
  border-radius: 50%;
}

.indicator-center {
  height: 30%;
  width: 30%;
  
  background-color: white;
  border-radius: 50%;
}

#open-chat-button {
  font-family: 'Material Symbols Outlined';

  background-color: var(--logo);
  cursor: pointer;

  position: fixed;
  bottom: 23px;
  right: 28px;

  font-size: 3.25em;
  padding: 3px 10px;
  border-radius: 10%;
}

.popup {
  display: none;
  flex-direction: row;
  justify-content: start;
  align-items: start;

  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 999999;

  padding: 15px 0px 15px 15px;
  background-color: light-dark(var(--light-foreground), var(--dark-foreground));
}

#chat-box {
  font-size: 1.125em;
  width: 35em;
  max-width: 90%;
}

#chat-box-container {
  flex-grow: 1;
  box-sizing: border-box;
  float: right;
}

#chat-input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#chat-history {
  box-sizing: border-box;
  width: 100%;
  min-height: 8em;
  max-height: 16em;
  overflow-y: scroll;
  margin-bottom: 10px;
  background-color: light-dark(var(--light-lighter), var(--dark-lighter));
}

#chat-input, #chat-submit {
  font-size: inherit;
}

.chat-message {
  margin-left: 2em;
  text-indent: -2em;
}

.old-chat-message {
  color: light-dark(var(--light-text-blocked), var(--dark-text-blocked));
}

#page-settings {
  width: 100%;
}

#notification-volume-row {
  display: flex;
  flex-direction: row;

  width: 100%;
}

#notification-volume-label {
  flex-basis: content;

  margin-right: 1em;
}

#notification-volume {
  flex-basis: 1px;
  flex-grow: 1;
}

@media screen and (max-width: 300px)
{
  html {
    font-size: 9pt;
  }
}
@media screen and (min-width: 300px) and (max-width: 800px)
{
  html {
    font-size: 10pt;
  }
}
@media screen and (min-width: 800px)
{
  html {
    font-size: 12pt;
  }
}

@media screen and ((max-width: 80rem) or (max-aspect-ratio: 1/1)) {
  body {
    flex-direction: column;
  }

  #content-container {
    flex-direction: column-reverse;
  }

  .vertical-element {
    display: inherit;
  }

  .horizontal-element {
    display: none;
  }

  #vert-title, #sidebar {
    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  #vert-title {
    box-sizing: border-box;
  }

  #sidebar {
    padding: 5px;
    flex-grow: 1;
  }

  .sidebar-item {
    padding-top: 15px;
    padding-bottom: 15px; 
  }

  #main-container {
    min-height: 50vh !important;
    width: 100%;
  }

  #item-select-container {
    max-height: 60vh;
  }
}
@media screen and (min-width: 80rem) and (min-aspect-ratio: 1/1) {
  body {
    flex-direction: row;
  }

  #content-container {
    flex-direction: row;
  }

  .vertical-element {
    display: none !important;
  }

  .horizontal-element {
    display: inherit;
  }

  #vert-title, #sidebar, #main-container {
    min-height: 100vh !important;
    height: 100vh !important;
    max-height: 100vh !important;
  }

  #sidebar {
    min-width: 40ch;
    width: 30%;
    max-width: 80ch;

    box-shadow: 0px 0px 25px 0px #000;
    padding: 25px;
  
    overflow-y: scroll;
  }

  .sidebar-item {
    padding-bottom: 45px; 
  }

  #main-container {
    flex-grow: 1;
    flex-basis: 1;
  }

  #item-select-container {
    max-height: 80%;
  }
}