.small-button {
  font-size: 1.0em;
  font-family: inherit;
  color: var(--text);
  background-color: var(--link);
  
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0px 3px;
}

#login-button {
  background-color: #6441a5!important;
}