@font-face {
  font-family: 'Runescape';
  src: url('Runescape.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.overlay-item {
  position: absolute;
  display: inline-block;
}

.text-item {
  padding: 0px 0px;
  margin: 0;
  box-sizing: border-box;

  width: 100%!important;
  height: 100%!important;

  overflow: hidden;
}