@font-face {
  font-family: 'Runescape';
  src: url('Runescape.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.overlay-item {
  position: absolute;
  display: inline-block;
}

.overlay-item-container {
  padding: 0px 0px;
  margin: 0;
  box-sizing: border-box;
  width: 100%!important;
  height: 100%!important;
  overflow: hidden;
  position: relative;
}

.overlay-item-child {
  padding: 0px 0px;
  margin: 0;
  box-sizing: border-box;

  position: absolute;
  left: 0;
  top: 0;

  min-width: 100%;
  min-height: 100%;
  width: 100%!important;
  height: 100%!important;
  overflow: hidden;
}

@-moz-keyframes leftRightScrollAnim {
  from {
    -moz-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
  }
}

@-webkit-keyframes leftRightScrollAnim {
  from {
    -webkit-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
  }
}

@keyframes leftRightScrollAnim {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-moz-keyframes rightLeftScrollAnim {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes rightLeftScrollAnim {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes rightLeftScrollAnim {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-moz-keyframes topBottomScrollAnim {
  from {
    -moz-transform: translateY(-100%);
  }
  to {
    -moz-transform: translateY(100%);
  }
}

@-webkit-keyframes topBottomScrollAnim {
  from {
    -webkit-transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(100%);
  }
}

@keyframes topBottomScrollAnim {
  from {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@-moz-keyframes bottomTopScrollAnim {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
  }
}

@-webkit-keyframes bottomTopScrollAnim {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes bottomTopScrollAnim {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}