@font-face {
  font-family: 'Runescape';
  src: url('Runescape.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.overlay-item {
  position: absolute;
  display: inline-block;

  box-sizing: content-box;
}

.overlay-item-container {
  padding: 0px 0px;
  margin: 0;
  box-sizing: border-box;
  width: 100%!important;
  height: 100%!important;
  overflow: hidden;
  position: relative;
}

.overlay-item-child {
  padding: 0px 0px;
  margin: 0;
  box-sizing: border-box;

  position: absolute;
  left: 0;
  top: 0;

  min-width: 100%;
  min-height: 100%;
  width: 100%!important;
  height: 100%!important;
  overflow: hidden;
}

.mirrored {
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
}

.twitch-chat-history-container {
  width: 100%;
  height: 100%;

  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.twitch-chat-history-container::-webkit-scrollbar {
  display: none;
}

.twitch-chat-history {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  width: 100%;

  box-sizing: border-box;

  min-height: 100%;
}

.twitch-chat-message {
  width: 100%;

  box-sizing: border-box;
  padding: 0.16em 0.33em;
}

.emote-img {
  height: 1.1em;
  width: auto;

  margin: -0.16em 0px;
  position: relative;
  vertical-align: middle;
}

.twitch-poll-timer, .twitch-pred-timer {
  font-size: 0.66em;
  font-style: italic;
}

.twitch-poll-vote-count, .twitch-pred-point-count {
  font-size: 0.66em;
}

.twitch-poll, .twitch-pred {
  margin: 0.5em;
  box-sizing: border-box;
}

.twitch-poll-choice-container, .twitch-pred-outcome-container {
  width: 100%;

  table-layout: auto;
  border-collapse: collapse;
}

.twitch-poll-choice-name, .twitch-pred-outcome-name {
  font-size: 0.75em;
}

.twitch-poll-choice-bar-container, .twitch-pred-outcome-bar-container {
  position: relative;

  height: 1.33em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.twitch-poll-choice-bar, .twitch-pred-outcome-bar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  row-gap: 0px;
  column-gap: 0px;

  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 20em;
  height: 95%;

  background: light-dark(var(--light-lighter), var(--dark-lighter));
}

.twitch-poll-choice-bar-label, .twitch-pred-outcome-bar-label {
  margin-left: 1em;
  text-align: left;
  font-size: 0.75em;

  grid-row-start: 1;
  grid-column-start: 1;
}

.twitch-poll-choice-bar-fill, .twitch-pred-outcome-bar-fill {
  height: 100%;

  grid-row-start: 1;
  grid-column-start: 1;
}

.game-container canvas {
  width: 100%;
  height: 100%;
}

@-moz-keyframes leftRightScrollAnim {
  from {
    -moz-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
  }
}

@-webkit-keyframes leftRightScrollAnim {
  from {
    -webkit-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
  }
}

@keyframes leftRightScrollAnim {
  from {
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
}

@-moz-keyframes rightLeftScrollAnim {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes rightLeftScrollAnim {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes rightLeftScrollAnim {
  from {
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@-moz-keyframes topBottomScrollAnim {
  from {
    -moz-transform: translateY(-100%);
  }
  to {
    -moz-transform: translateY(100%);
  }
}

@-webkit-keyframes topBottomScrollAnim {
  from {
    -webkit-transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(100%);
  }
}

@keyframes topBottomScrollAnim {
  from {
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
  }
}

@-moz-keyframes bottomTopScrollAnim {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
  }
}

@-webkit-keyframes bottomTopScrollAnim {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes bottomTopScrollAnim {
  from {
    transform: translateY(100%);
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
}