.section {
  margin-bottom: 1.25em;
}

.page-title {
  font-size: 2em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.section-title {
  font-size: 1.25em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.section-form {
  margin-bottom: 0;
}

.section-list {
  margin-top: 0;
  margin-bottom: 0;
}

.quick-link {
  font-size: 0.8em;
}

.text-button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: var(--link);
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}

.inline-form {
  display: inline;
}