{% extends "base.html" %}

{% load static %}
{% load socialaccount %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'overlay/home.css' %}">
{% endblock %}

{% block title %}Create Overlay - Collaborative Overlay{% endblock %}

{% block content%}
<div id="header">
  <h1 id="page-title">Create a collaborative overlay</h1>
  <div id="account-button-container">
    <a class="button-link" href="{% url "overlay:home" %}"><span class="material-symbols-outlined inline-symbol">home</span> Home</a>
  </div>
</div>

<div class="editor-form">
  <div>
    <form method="post" class="editor-form">
        {% csrf_token %}
        <table>
        {% for field in form %}
          <tr>
            <td><label class="label" for="{{ field.auto_id }}">{{ field.label }}:</label></td>
            <td>
              {{ field }}
              {% for error in field.errors %}
              <br>
              <span class="field-error">{{ error|escape }}</span>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
          <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
          </tr>
        </table>
    </form>
  </div>
{% endblock %}