{% extends "overlay/overlay_base.html" %}

{% load static %}
{% load socialaccount %}
{% load util %}

{% block stylesheets %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'global.css' %}">
<link rel="stylesheet" href="{% static 'overlay/overlay.css' %}">
<link rel="stylesheet" href="{% static 'overlay/edit.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'util.js' %}"></script>
<script src="{% static 'ajaxhelpers.js' %}"></script>
<script src="{% static 'jquery-3.7.1.min.js' %}"></script>

<script src="{% static 'overlay/edit.js' %}"
        defer
        data-overlayid="{{ collaborativeoverlay.id }}"
        data-getitemsurl="{% url 'overlay:api_get_overlay_items' %}"
        data-additemsurl="{% url 'overlay:api_add_overlay_item' %}"
        data-edititemurl="{% url 'overlay:api_edit_overlay_item' %}"
        data-edititemsurl="{% url 'overlay:api_edit_overlay_items' %}"
        data-deleteitemurl="{% url 'overlay:api_delete_overlay_item' %}"
        data-overlaywidth="{{ collaborativeoverlay.width }}"
        data-overlayheight="{{ collaborativeoverlay.height }}"
        data-overlayowner="{{ collaborativeoverlay.owner.username }}"
        data-overlayuid="{{ overlayuid }}">
</script>
{% endblock %}

{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"{{ collaborativeoverlay.name }}" - Edit</title>
  </head>
  <body>
    <div id="vert-title" class="vertical-element site-title-container">
      <div class="site-title">Edit <i>{{ collaborativeoverlay.name }}</i></div>
      <a href="{% url 'overlay:change_log' %}">Change log</a>
    </div>
    <div id="content-container">
      <div id="sidebar">
        <div class="horizontal-element site-title-container">
          <div class="site-title">Edit <i>{{ collaborativeoverlay.name }}</i></div>
          <a href="{% url 'overlay:change_log' %}">Change log</a>
        </div>
        <div class="sidebar-section" id="sidebar-controls">
          <div class="sidebar-item" id="enable-twitch-embed">
            <input type="checkbox" id="embed-checkbox" name="enable-embed" value="Embed Twitch Stream">
            <label for="enable-embed">Embed Twitch Stream</label>
            <br/>
            <input type="checkbox" id="embed-interact" name="interact-embed" value="Allow interaction with stream embed."/>
            <label for="interact-embed">Allow interaction with embed</label>
          </div>

          <div class="big-button" id="open-add-item">
            Add item.
          </div>
        </div>

        <div class="sidebar-section" id="item-select-container">
          <div class="sidebar-subsection" id="item-filter-container">
            <label class="sidebar-label" for="item-filter">Filter:</label>
            <input class="sidebar-text-input" type="text" id="item-filter" name="item-filter"></input>
            <select class="sidebar-dropdown-input" id="item-type-filter" name="item-type-filter">
              <option value="">All</option>
              
              {% for item_type in item_types %}
              <option value="{{ item_type.get_simple_type }}">{{ item_type.get_pretty_type }}</button>
              {% endfor %}
            </select>
          </div>
          <div id="item-select-list"></div>
        </div>

        <div class="sidebar-section" id="item-edit-forms">
          {% for k, form in forms.edit.items %}
          <div class="form-container edit-container hidden" id="edit-{{ form.Meta.model.get_simple_type }}-container">
            <form class="item-form edit-form" id="edit-{{ form.Meta.model.get_simple_type }}-form">
              <div class="item-title">
                Edit {{ form.Meta.model.get_pretty_type }}
              </div>
              {{ form.non_field_errors }}
              {% for field in form.hidden_fields %}
              <span class="hidden">{{ field }}</span>
              {% endfor %}
              <table>
              {% for field in form.visible_fields %}
                <tr>
                  <td><label class="label" for="{{ field.auto_id }}">{{ field.label }}:</label></td>
                  <td>
                    {{ field }}
                    {% for error in field.errors %}
                    <br>
                    <span class="field-error">{{ error|escape }}</span>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                <tr>
                  <td></td>
                  <td>
                    {% if k == "StopwatchItem" %}
                    <div class="medium-button pause-item" id="pause-{{ form.Meta.model.get_simple_type }}">Pause</div>
                    <div class="medium-button reset-item" id="reset-{{ form.Meta.model.get_simple_type }}">Reset</div>
                    {% elif k == "YouTubeEmbedItem" or k == "TwitchStreamEmbedItem" or k == "TwitchVideoEmbedItem" %}
                    <div class="medium-button reset-item" id="reset-{{ form.Meta.model.get_simple_type }}">Reset</div>
                    {% elif k == "AudioItem" %}
                    <div class="medium-button play-item" id="play-{{ form.Meta.model.get_simple_type }}">Play</div>
                    <div class="medium-button pause-item" id="pause-{{ form.Meta.model.get_simple_type }}">Pause</div>
                    <div class="medium-button reset-item" id="reset-{{ form.Meta.model.get_simple_type }}">Reset</div>
                    {% elif k == "CanvasItem" %}
                    <div class="medium-button undo-item" id="undo-{{ form.Meta.model.get_simple_type }}">Undo</div>
                    <div class="medium-button clear-item" id="clear-{{ form.Meta.model.get_simple_type }}">Clear</div>
                    {% endif %}
                    <div class="medium-button delete-item" id="delete-{{ form.Meta.model.get_simple_type }}">Delete</div>
                  </td>
                </tr>
              </table>
            </form>
          </div>
          {% endfor %}
        </div>
      </div>
      <div id="main-container">
        <div id="cursor-container">
        </div>
        <div id="overlay" style="aspect-ratio: {{ collaborativeoverlay.width }}/{{ collaborativeoverlay.height }};">
          <div id="twitch-embed" class="noselect nopointer" style="aspect-ratio: {{ collaborativeoverlay.width }}/{{ collaborativeoverlay.height }};" />
        </div>
      </div>
    </div>
    <div class="modal" id="add-item-modal">
      <div class="modal-content">
        <span class="close" id="close-add-item">&times;</span>

        <div class="tab-nav">
          <div class="tab" id="add-item-tabs">
            {% for k, form in forms.add.items %}
            <button class="tablink" onclick="openAddItemTab(event, 'add-{{ form.Meta.model.get_simple_type }}')">{{ form.Meta.model.get_pretty_type }}</button>
            {% endfor %}
          </div>

          <div class="tab-container">
            {% for k, form in forms.add.items %}
            <div class="form-container tabcontent" id="add-{{ form.Meta.model.get_simple_type }}">
              <form class="item-form add-form" id="add-{{ form.Meta.model.get_simple_type }}-form">
                <input type='hidden' id="id_item_type" name="item_type" value="{{ form.Meta.model.get_simple_type }}">
                {{ form.non_field_errors }}
                <table>
                {% for field in form.visible_fields %}
                  <tr>
                    <td><label class="label" for="{{ field.auto_id }}">{{ field.label }}:</label></td>
                    <td>
                      {{ field }}
                      {% for error in field.errors %}
                      <br>
                      <span class="field-error">{{ error|escape }}</span>
                      {% endfor %}
                    </td>
                  </tr>
                {% endfor %}
                  <tr>
                    <td></td>
                    <td><input type="submit" value="Add"></td>
                  </tr>
                </table>
              </form>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="noselect" id="open-chat-button">
      <span class="indicator" id="chat-message-indicator"><span class="indicator-center"></span></span>
      chat
    </div>
    <div class="popup" id="chat-box">
      <span class="close" id="close-chat-button">&times;</span>
      <div id="chat-box-container">
        <div id="chat-history"></div>
        <form id="chat-form">
          <div id="chat-input-container">
            <input id="chat-input" type="text" placeholder="Type message..." name="message" autocomplete="off" required></input>
            <button type="submit" id="chat-submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
{% endblock %}