{% extends "overlay/overlay_base.html" %}

{% load static %}
{% load socialaccount %}
{% load util %}

{% block stylesheets %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'global.css' %}">
<link rel="stylesheet" href="{% static 'overlay/overlay.css' %}">
<link rel="stylesheet" href="{% static 'overlay/edit.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'overlay/edit.js' %}"
        defer
        data-additemsurl="{% url 'overlay:api_add_overlay_item' %}"
        data-edititemurl="{% url 'overlay:api_edit_overlay_item' %}"
        data-edititemsurl="{% url 'overlay:api_edit_overlay_items' %}"
        data-deleteitemurl="{% url 'overlay:api_delete_overlay_item' %}"
        data-overlayowner="{{ collaborativeoverlay.owner.username }}"
        data-overlayuid="{{ overlayuid }}"
        data-notificationurl="{% static 'overlay/notification.wav' %}">
</script>
{% endblock %}

{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"{{ collaborativeoverlay.name }}" - Edit</title>
  </head>
  <body>
    <div id="vert-title" class="vertical-element site-title-container">
      <div class="site-title">Edit <i>{{ collaborativeoverlay.name }}</i></div>
      <a href="{% url 'overlay:change_log' %}">Change log</a>
    </div>
    <div id="content-container">
      <div id="sidebar">
        <div class="horizontal-element site-title-container">
          <div class="site-title">Edit <i>{{ collaborativeoverlay.name }}</i></div>
          <a href="{% url 'overlay:change_log' %}">Change log</a>
        </div>
        <div class="sidebar-section" id="sidebar-controls">
          <table class="sidebar-item" id="page-settings">
            <tr>
              <td>
                <input type="checkbox" id="embed-checkbox" name="enable-embed" value="Embed Twitch Stream">
              </td>
              <td>
                <label for="enable-embed">Embed Twitch Stream</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" id="embed-interact" name="interact-embed" value="Allow interaction with stream embed."/>
              </td>
              <td>
                <label for="interact-embed">Allow interaction with embed</label>
              </td>
            </tr>
            <tr>
              <td></td>
              <td id="notification-volume-row">
                <label for="noti-vol" id="notification-volume-label">Notification Volume:</label>
                <input type="range" id="notification-volume" name="noti-vol" min="0" max="100">
              </td>
            </tr>
          </table>

          <div class="big-button" id="open-add-item">
            Add item.
          </div>
        </div>

        <div class="sidebar-section" id="item-select-container">
          <div class="sidebar-subsection" id="item-filter-container">
            <label class="sidebar-label" for="item-filter">Filter:</label>
            <input class="sidebar-text-input" type="text" id="item-filter" name="item-filter"></input>
            <select class="sidebar-dropdown-input" id="item-type-filter" name="item-type-filter">
              <option value="">All</option>
              
              {% for item_type in item_types %}
              <option value="{{ item_type.get_simple_type }}">{{ item_type.get_pretty_type }}</button>
              {% endfor %}
            </select>
          </div>
          <div id="item-select-list"></div>
        </div>

        <div class="sidebar-section" id="item-edit-forms">
          {% for k, form in forms.edit.items %}
          {% include k|model_edit_form_template with form=form form_model=k %}
          {% endfor %}
        </div>
      </div>
      <div id="main-container">
        <div id="cursor-container">
        </div>
        <div id="overlay" style="aspect-ratio: {{ collaborativeoverlay.width }}/{{ collaborativeoverlay.height }};">
          <div id="twitch-embed" class="noselect nopointer" style="aspect-ratio: {{ collaborativeoverlay.width }}/{{ collaborativeoverlay.height }};" />
        </div>
      </div>
    </div>
    <div class="modal" id="add-item-modal">
      <div class="modal-content">
        <span class="close" id="close-add-item">&times;</span>

        <div class="tab-nav">
          <div class="tab" id="add-item-tabs">
            {% for k, form in forms.add.items %}
            <button class="tablink" onclick="openAddItemTab(event, 'add-{{ form.Meta.model.get_simple_type }}')">{{ form.Meta.model.get_pretty_type }}</button>
            {% endfor %}
          </div>

          <div class="tab-container">
            {% for k, form in forms.add.items %}
              {% include k|model_add_form_template with form=form form_model=k %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="noselect" id="open-chat-button">
      <span class="indicator" id="chat-message-indicator"><span class="indicator-center"></span></span>
      chat
    </div>
    <div class="popup" id="chat-box">
      <div id="chat-box-container">
        <div id="chat-history"></div>
        <form id="chat-form">
          <div id="chat-input-container">
            <input id="chat-input" type="text" placeholder="Type message..." name="message" autocomplete="off" required></input>
            <button type="submit" id="chat-submit">Send</button>
          </div>
        </form>
      </div>
      <span class="close" id="close-chat-button">&times;</span>
    </div>
  </body>
</html>
{% endblock %}