{% extends "overlay/base.html" %}

{% load static %}
{% load socialaccount %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'overlay/profile.css' %}">
{% endblock %}

{% block title %}Profile - Collaborative Overlay{% endblock %}

{% block content %}
<div class="section" id="summary">
  <div class="page-title">Profile</div>
  <span>Logged in as <i>{{ user.username }}</i> <form class="inline-form" action="{% url 'account_logout' %}?next={% url 'overlay:index' %}" method="post">{% csrf_token %}<input class="text-button" type="submit" value="[logout]"></form></span>
</div>

<div class="section" id="editors">
  <div>
    <span class="section-title">Editors</span>
    <a href="{% url 'overlay:add_editor' %}" class="quick-link">[add]</a>
  </div>
  <form action="{% url 'overlay:remove_editor' %}" method="post" class="section-form">
    {% csrf_token %}
    <ul class="section-list">
    {% if user.editor_set.all %}
      {% for editor in user.editor_set.all %}
      <li>
        {{ editor.username }} 
        <button class="text-button" type="submit" name="username" value="{{ editor.username }}">[remove]</button>
      </li>
      {% endfor %}
    {% else %}
      <li>No editors</li>
    {% endif %}
    </ul>
  </form>
</div>

<div class="section" id="overlays">
  <div>
    <span class="section-title">Collaborative Overlays</span>
    <a href="{% url 'overlay:create_overlay' %}" class="quick-link" >[create]</a>
  </div>
  <form action="{% url 'overlay:delete_overlay' %}" method="post" class="section-form" onsubmit="return confirm('Delete forever?');">
    {% csrf_token %}
    <ul class="section-list">
    {% if user.collaborativeoverlay_set.all %}
      {% for overlay in user.collaborativeoverlay_set.all %}
      <li>
        {{ overlay.name }} 
        <button class="text-button" type="submit" name="overlay_id" value="{{overlay.id}}">[delete]</button> 
        <a href="{% url 'overlay:edit_overlay' overlay.id %}" class="quick-link">[edit]</a> 
        <a href="{% url 'overlay:view_overlay' overlay.id %}" class="quick-link">[view]</a> 
        <br>
        {{ overlay.description }}
      </li>
      {% endfor %}
    {% else %}
      <li>No overlays</li>
    {% endif %}
    </ul>
  </form>
</div>

<div class="section" id="editable">
  <div>
    <span class="section-title">Overlays you can edit</span>
  </div>
  <ul class="section-list">
  {% if editable_overlay_list %}
    {% for overlay in editable_overlay_list %}
    <li>
      {{ overlay.name }} - {{ overlay.owner }} 
      <a href="{% url 'overlay:edit_overlay' overlay.id %}" class="quick-link">[edit]</a> 
      <a href="{% url 'overlay:view_overlay' overlay.id %}" class="quick-link">[view]</a> 
      <br>
      {{ overlay.description }}
    </li>
    {% endfor %}
  {% else %}
    <li>No overlays</li>
  {% endif %}
  </ul>
</div>
{% endblock %}