{% extends "overlay/overlay_base.html" %}

{% load static %}
{% load socialaccount %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'overlay/overlay.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'overlay/view.js' %}"></script>
{% endblock %}

{% block content %}
<html lang="en" style="background-color: #00000000;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"{{ collaborativeoverlay.name }}" - View</title>
  </head>
  <body style="position: relative; top: 0; left: 0; width: {{ collaborativeoverlay.width }}; height: {{ collaborativeoverlay.height }}; background-color: #00000000; overflow: hidden;">
    
  </body>
</html>
{% endblock %}