:root {
  color-scheme: light dark;

  --dark-darker: #060606;
  --dark-background: #121212;
  --dark-foreground: #212121;
  --dark-lighter: #323232;
  --dark-text: #fffcf2;
  --dark-text-blocked: #999790;
  --light-darker: #B2B2B2;
  --light-background: #CDCDCD;
  --light-foreground: #DEDEDE;
  --light-lighter: #EDEDED;
  --light-text: #00030D;
  --light-text-blocked: #2b2c2f;
  --logo: #eb5e28;
  --logo-rgb: 235, 94, 40;
}

html {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  background: light-dark(var(--light-background), var(--dark-background));
  color: light-dark(var(--light-text), var(--dark-text));
}