:root {
  --darker: #141312;
  --background: #252422;
  --foreground: #403d39;
  --lighter: #ccc5b9;
  --text: #fffcf2;
  --link: #eb5e28;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text);
}

html, body, .container {
  min-height: 100vh !important;
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  box-sizing: border-box;
  box-shadow: 0px 0px 25px 0px #000;

  background: var(--foreground);
}

.field-error {
  font-size: 0.8em;
  font-weight: bold;
  color: #f74040;
}

@media (max-width: 500px) {
  .container {
    padding: 25px;
    width: 100%;
  }
}
@media (min-width: 500px) and (max-width: 1000px) {
  .container {
    padding: 35px;
  
    min-width: 500px;
    width: 80%;
  }
}
@media (min-width: 1000px) {
  .container {
    padding: 50px;
  
    width: 800px;
  }
}