.generator-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.generator-form td {
  text-align: right;
}

.generator-form td select {
  width: 100%;
}

.generator-form .label {
  margin-right: 5px;
}

.grid {
  width: 100%;
}

#grid-image {
  width: 100%;
}

.album-list {
  border-collapse: collapse;
  margin-top: 25px;
}

.album-list .album-rank {
  text-align: right;
}

.album-list td {
  padding-right: 10px;
}

.album-list .album-name {
  font-weight: bold;
}

.album-list tr:nth-child(even) {
  background: #00000030;
}

#form-error-container {
  color: rgb(232, 101, 101);
}

#form-error-list, #form-error-list li {
  padding-top: 0;
  margin-top: 0;  
  padding-bottom: 0;
  margin-bottom: 0;
}