.generator-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.generator-form td {
  text-align: right;
}

.generator-form td select {
  width: 100%;
}

.generator-form .label {
  margin-right: 5px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;
}

.grid-album {
  display: inline;
  padding: 0;
  margin: 0;
  padding: 0;
}

.grid-album img {
  margin: 0;
  padding: 0;
}

.size-3 .grid-album {
  width: 33.333%;
}

.size-4 .grid-album {
  width: 25%;
}

.size-5 .grid-album {
  width: 20%;
}

.size-6 .grid-album {
  width: 16.66%;
}

.grid-album img {
  width: 100%;
  height: auto;
}

.album-list {
  border-collapse: collapse;
  margin-top: 25px;
}

.album-list .album-rank {
  text-align: right;
}

.album-list td {
  padding-right: 10px;
}

.album-list .album-name {
  font-weight: bold;
}

.album-list tr:nth-child(even) {
  background: #00000030;
}